<div class="search-bar">
  <form class="search-characters-form">
    <select class="search-bar-n"  name="archetype">
      <option value="Leader">Leader</option>
      <option value="Romantic interest">Romantic interest</option>
      <option value="Damsel">Damsel</option>
      <option value="Comedian">Comedian</option>
      <option value="Villain">Villain</option>
      <option value="Hero">Hero</option>
      <option value="Crusader">Crusader</option>
      <option value="Sage">Sage</option>
      <option value="Weasel">Weasel</option>
      <option value="Loner">Loner</option>
      <option value="Geek">Geek</option>
      <option value="Innocent">Innocent</option>
      <option value="Wildcard">Wildcard</option>
      <option value="Friend">Friend</option>
      <option value="Other">Other</option>
    </select>

    <select class="search-bar-n"  name="setting">
        <option value="#####">#####</option>
      </select>

    <input type="text" class="search-bar-n" placeholder="search characters">
    <input type="submit" class="search-button-n" value="search">
  </form>
</div>
