<div class="search-bar">
  <form class="search-characters-form">
    <input type="text" class="search-bar-n" placeholder="search characters">
    <input type="submit" class="search-button-n" value="search">
  </form>
</div>
