<div class="search-bar">
  <form class="search-title-form">
        <select class="search-bar-n"  name="genre">
        <option value="#####">#####</option>
      </select>

    <select class="search-bar-n"  name="setting">
        <option value="#####">#####</option>
      </select>


    <input class="search-bar-n" type="text" placeholder="search titles">
    <input type="submit" value="search">
  </form>
</div>