



<div class="landing-image"></div>


<div class="welcome-container">
  <div class="welcome">
    login<br>
    <form id="login-form" class="login-form">
      username:<input type="text" name="username">
      password:<input type="password" name="password">

    </form>
    sign-up<br>
    <form id="signup-form" class="signup-form">

    </form>
  </div>
</div>