
<div id="user-info" player_id="<%=current_user.id%>">
  <div class="panel user-info">


    <div class="users-stats" id="users-stats">
<%= current_user.name %>

    </div>
    Your Characters:
    <div class="users-cards" id="current-cards">


    </div>
  </div>

</div>

<div class="panel current-decks">
      <div class="users-decks" id="current-decks">

    </div>

</div>

<script>

$.ajax({
  url: '/user_decks/'+$("#user-info").attr("player_id"),
})
.done(function(data) {
  var context = { decks: data};
  var source = $("#user-deck-template").html();
  var template = Handlebars.compile(source);
  var html = template(context);
  $('#current-decks').html('<div class="deck-display user-deck-display new-link"><a href="/decks/new" class="create-new-story">Create new story</a></div>'+html)

})


$.ajax({
  url: '/user_cards',
})
.done(function(data) {
  var context = { cards: data};
  var source = $("#user-card-template").html();
  var template = Handlebars.compile(source);
  var html = template(context);
  $('#current-cards').html('<div class="card-display-template new-link"><a href="#" class="create-new-character">Create new character</a></div>'+html)
})



</script>

