
<div class="landing-image">



</div>





<%= render partial: "partials/search_bar_stories.html.erb" %>

<div id="welcome" class="row welcome ">
</div>





<script>
$.ajax({
  url: '/decks',
})
.done(function(data) {
  // debugger
  console.log(data);
  var context = { decks: data};
  var source = $("#deck-template").html();
  var template = Handlebars.compile(source);
  var html = template(context);
  $('#welcome').html(html)
})
</script>
