
<div class="landing-image"></div>


<div class="welcome-container">
  <div class="welcome">
    <a href="#" class="login-link">login</a><br>
    <a href="#" class="signup-link">sign-up</a><br>
  </div>

    <div class="form">

      <form id="login-form" class="login-form" method="GET" action="<%=new_user_session_path%>">
        username:<input type="text" name="email"><br>
        password:<input type="password" name="password"><br>
        <input type="submit" value="login">
        <a href="#" class="cancel-login-link">cancel</a><br>
      </form>



      <form id="signup-form" action="<%=new_registration_path%>" method="POST" class="signup-form">
        email:<input type="text" name="email"><br>
        username:<input type="text" name="username"><br>
        password:<input type="password" name="password"><br>
        Confirm password:<input type="password" name="confirm"><br>
        <input type="submit" value="signup">
        <a href="#" class="cancel-signup-link">cancel</a><br>
      </form>

    </div>

</div>