<div class="whole-story-display info-page">



  <h1>How Narrative works</h1>

  <p>
    Some authors are really good at creating characters, some are good at expanding stories,  Narrative works to bring together a community of online creators and artists to collaborate with an entire online community to create stories based on each other characters and ancedotes.
  </p>

  <p>
    This is meant to be a fun collaborative experience between creators of all backgrounds.
  </p>


  <h2>Okay, so what am I supposed to do?</h2>

  <p>
    Good question!  First of all if you have any questions or suggestions please feel free to populate our FAQ space.
  </p>
  <p>
    So starting off on your dash board:  you create a story.  You give the story a name, a tag line pick a genre and a setting for your narrative, and an opeing paragraph... and thats it!
  </p>

  <p>
    When you finish you create it.  It begins life as an unpublished story, and you may edit it in this state.  Once you commit changes they are not un-changable. The point behind Narrative is that once you start your story, other creators in the community continue it.  When you publish your story, it is accessable to the entire community, as well as yourself.  People may add passages to your story in that community.
  </p>

  <p>
    When a new passage is added to one of your stories, you will get a notification, clicking on that notification in your nav bar will bring you to a list of stories with pending passages.  Go to one of those stories, unpublish your story via the link at the top, and then you get to decide which passages to add to your story and which to dismiss.  Be careful, once you add a passage and publish it again, you cannot take it away.  While your story is unpublished you may add and remove characters as well.
  </p>

  <h2>What is the point of creating and adding characters?</h2>
</div>