
<%= render partial: "partials/search_bar_character.html.erb" %>



<div id="card-display-area" class="welcome"></div>


<script>
  $.ajax({
    url: '/cards',
  })
  .done(function(data) {
  // debugger
  // console.log(data);
  var context = { cards: data};
  var source = $("#card-template").html();
  var template = Handlebars.compile(source);
  var html = template(context);
  $('#card-display-area').html(html)

})


</script>

