html{
  background-color: #F2F5A9;
  font-family: Cambria, Georgia, serif;
}

header{
  position: absolute;
  background-color: #0B3861;
  width: 100%;
  height:5%;
  font-size: 14pt;
  z-index: 10;
  padding: 2%;
  color: white;
}

header a{
  color: white;
}

.error-message{
  position: fixed;
  top: 40%;
  width: 50%;
  left: 20%;
  height: 20%;
  padding: 5%;
  margin: 0 auto;
  color: white;
  background-color: red;

}

li{
  padding: 2px;
}

a{
  text-decoration: none;
}
body{
  /*position: relative;*/
  top: 10%;
}


.small-avatar{
  position: relative;
  background-color: white;
  width: 50px;
  border-radius: 100px;
  border-style: solid;
  border-color: red;
}

.big-avatar{
  width: 75px;
  /*height: 100%;*/
}

.closing-button{
  width: 50px;
}

.char-closing{
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 40;
}

.comm-drop{
  position: absolute;
  width: 25%;
  right: 5%;
  display: none;
  border-color: white;
  border-style: solid;
  padding: 2px;
  border-radius: 5px;
  background-color: #0B3861;
}

.comm-drop-link{
  z-index: 50;
}

.story-created-notification{
  position: fixed;
  top: 0%;
  background-color: green;
  color: white;
  width: 100%;
  height: 30%;
  z-index: 40;
  display: none;
}
.story-status-notification{
  z-index: 40;
}

li{
  box-decoration-break: none;
  display: inline;
  direction: horizontal;
}

.panel{
  position: relative;
  height: 800px;
  width: 40%;
  top: 75px;
  background-color: #F3E2A9;
  margin: 2%;
  /*vertical-align: top;*/
}
.profile-panel{
  position: absolute;
  background-color: transparent;

  font-size: 35px;
  /*line-height: 0pt;*/
  float: left;
  height: 70%;
  top: 0%;
  /*width: 50%;*/
}

.control-panel{
  position: absolute;
  float: right;
  right: 5%;
  width: 50%;
  text-align: right;
}


.user-info{
  float: left;
  width: 30%;
  padding: 1%;
}

.current-decks{
  float: right;
  width: 60%;
  overflow: scroll;
}

.users-decks{
  float: right;
  width: 100%;
  overflow: scroll;
}


.users-stats{
  background-color: #0B3861;
  position: relative;
  color: white;
  text-align: 5%;
  padding: 2%;
  margin: 0 auto;
  width: 90%;
  height: 20%;

}

.users-cards{
  position: relative;
  width: 100%;
  height: 70%;
  /*bottom: 5%;*/
  overflow: scroll;

}
.landing-image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /*background-image:url("")*/
  display: block;
}

.current-cast-of-characters{
  position: relative;
  height: 10%;
  overflow: scroll;
}

.char-select-modal{
position: fixed;
height: 40%;
width: 50%;
top: 10%;
left: 20%;
background-color: white;
overflow: scroll;
z-index: 30;
padding: 3%;
display: none;
}


.card-display-area{
  position: absolute;
  width: 80%;
  height: 2000px;
  top: 20%;
  float: right;
  left: 10%;
  background-color: red;
  display: block;
  overflow: scroll;
}

.story-cast-list{
  position: relative;
  width: 20%;
  height: 100px;
  background-color: white;
  /*text-align: left;*/
  font-size: 14px;
  display: inline-block;
  direction: horizontal;
  margin: 2px;
  overflow: scroll;
  padding: 2%;
  border-radius: 12px;
}

.card-display-template{
  position: relative;
  width: 30%;
  height: 200px;
  background-color: white;
  /*text-align: left;*/
  display: inline-block;
  direction: horizontal;
  margin: 1%;
  overflow: scroll;
  padding: 5%;
}

.create-new-story-cast-template{
  width: 20%;
}

.modal-mode{
  width: 20%;
  background-color:#D8F6CE;
}




.login-form{
  position: absolute;
  background-color: white;
  padding: 3%;
  display: none;
}

.signup-form{
  position: absolute;
  background-color: white;
  padding: 3%;
  display: none;
}

.welcome-container{
  position: absolute;
  background-color: blue;
  bottom: 10%;
  height: 50%;
  width: 100%;
}

.form{
  position: fixed;
  width: 20%;
  height: 20%;
  top: 35%;
  left: 35%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 4%;
  border-style: solid;
  border-color: black;
  display: none;
  z-index: 25;
}

.welcome{
  position: absolute;
  top: 40%;
  /*bottom: 10%;*/
  right: 5%;
  background-color: yellow;
  margin: 0 auto;
  text-align: center;
  padding: 4%;
  font-size: 20pt;
  display: inline;
  width: 80%;
  height:40%;
  z-index: 3;
  overflow: scroll;
}
.search-bar{
  position: absolute;
  top: 30%;
  background-color: #0B3861;
  height: 50px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}


.search-char-bar{
  position: absolute;
  top: 10%;
}

.deck-display{
  position: relative;
  width: 20%;
  height: 300px;
  background-color: white;
  font-size: 12pt;
  /*text-align: left;*/
  display: inline-block;
  direction: horizontal;
  border-radius: 10px;
  margin: 1%;
  overflow: scroll;
  padding: 1%;
}

.card-display{
  position: relative;
  width: 20%;
  font-size: 12pt;
  height: 400px;
  background-color: white;
  /*text-align: left;*/
  display: inline-block;
  direction: horizontal;
  margin: 1%;
  overflow: scroll;
  padding: 1%;
}

.user-deck-display{
  height: 160px;
  width: 45%;
}

.deck-display#h4{
  top: 50%;
}

.template-avatar{
  position: relative;
  float: right;
  top: -5%;
  right: -5%;
  width: 50px;
  background-color: yellow;
  border-radius: 100px;
  border-style: solid;
  border-color: red;
  z-index: 5;
}

.passage-avatar{
  top: 0%;
  right: 0%;
}

.new-link{
  text-align: center;
  font-size: 100px;
  line-height: 150px;
}

.new-link-char{
  line-height: 100px;
}

.options-box{
  position: relative;
  float: right;
}

.passage-author-box{
  position: relative;
  float: left;
}

.comm-deck{
  position: relative;
  float: left;
}

.add-passage-to-story{
  float: right;
}

.delete-deck-confirmation{
  position: fixed;
  left: 30%;
  top: 20%;
  width: 30%;
  height: 20%;
  background-color: red;
  z-index: 60;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  /*line-height: 100px;*/
  font-size: 12pt;
  display: none;
  overflow: scroll;
}

.whole-story-display{
  position: absolute;
  font-size: 14pt;
  top: 20%;
  padding: 2%;
  display: block;
  background-color: #F6E3CE;
  /*background-color: transparent;*/
  border-radius: 10px;
  margin: 0 auto;
  right: 10%;
  width: 70%;
  /*height: 70%;*/
  /*z-index: 10;*/
  overflow: scroll;
  display: block;

}

.story-display{
  top: 30%;
}

.passage{
  padding: 4%;
  border-radius: 10px;
  position: relative;
  left: 10%;
  text-align: justify;
  width: 60%;

}

.approved{
  background-color: transparent;
  padding: 1%;
}

.not_approved{
  background-color: #F5A9A9;
  width: 80%;
  left: 2%;
}

.not-app-box{
  position: relative;
  height: 400px;
  width: 70%;
  overflow: scroll;
  background-color: white;
  /*padding: 4%;*/
  left: 10%;
  border-radius: 10px;
}

.body-box{
  position: relative;
  left: 10%;
  width:70%;
  height: 400px;
  font-size: 20pt;
  padding: 2%;
}


.new-story-field{
  position: relative;
  width: 70%;
  font-size: 20pt;
  margin: 4px;
}

.search-bar-n{
  width: 50%;
}

.search-title-form{
  position: relative;
  top: 30%;
}

.search-characters-form{
  position: relative;
  top: 30%;

}
.submit-button{
  position: relative;
  width: 30%;
  font-size: 20pt;
  height: 30%;
  float: right;
}

.char-select-box{
  position: relative;
  width: 90%;
  height: 90%;

}

.char-select-box-wrapper{
  position: fixed;
  background-color: #0B3861;
  width: 100%;
  height: 60%;
  z-index: 30;
  overflow: scroll;
  text-align: center;
  left: 0%;
  top: 20%;
  display: none;
}

.create-a-card{
  position: fixed;
  background-color: white;
  padding: 5%;
  left: 30%;
  top: 0%;
  height: 80%;
  width: 30%;
  z-index: 32;
  border-color: blue;
  border-style: solid;
  font-size: 14pt;
  display: none;
  border-radius: 10px;
  overflow: scroll;
}
.claim-card-modal{
  position: fixed;
  top: 20%;
  right: 30%;
  background-color: #D8F6CE;
  width: 30%;
  height: 50%;
  overflow: scroll;
  padding: 4%;
  display: none;
  z-index: 60;
  border-color: red;
  border-radius: 15px;
  border-style: solid;
}

.new-character-field{
  width: 70%;
  font-size: 20pt;
}

.new-character-bio{
  position: relative;
  left: 10%;
  width:70%;
  height: 200px;
  font-size: 20pt;
  padding: 2%;
}

.inspect-card-box{
  position: fixed;
  right: 20%;
  top: 20%;
  background-color: white;
  padding: 2%;
  width: 30%;
  height: 30%;
  display: none;
  z-index: 33;
  border-color: blue;
  border-style: solid;
  border-radius: 10px;
  overflow: scroll;
}

.new-passage-container{
  width: 90%;
  height: 20%;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  display: none;
}

.new-passage-content{
  width: 100%;
  height: 100px;
}

.sent-banner{
  position: relative;
  background-color: green;
  text-align: center;
  color: white;
  width: 100%;
  display: none;
}


.hidden{
  display: none;
}